.MyWidget{
  background-color: #D14136;
}

.QPushButton{
  font-size: 20px;
  color: white;
  border-radius: 2px;
  background-color: #EA665C;
  height: 100px;
}

.QPushButton:hover{
  background-color:#FF958D;
}

.QLabel{
  color: white;
  font-size: 40px;
}
